@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  text-align: center;
  background-color: green;
  position: relative;
  padding-top: 20px;
}
.container {
  width: 300px;
  height: 450px;
  margin: auto;
  background-color: white;
  position: relative;
  border-radius: 20px;
}
#cardSign {
  position: absolute;
  top: 0px;
  left: 8px;
  font-size: 100px;
  z-index: 2;
  border: none;
  width: 60px;
  height: 100px;
}
#cardDealer {
  font-size: 120px;
  border: none;
  padding-top: 15px;
  text-align: center;
}
#cardSignBottom {
  font-size: 40px;
  position: absolute;
  bottom: 0px;
  right: 8px;
  border: none;
  font-size: 100px;
  width: 60px;
  height: 100px;
}

h2 {
  color: black;
}

.red {
  color: red;
}
.black {
  color: black;
}
